.SidebarChat{
    color: whitesmoke;
    display: flex;
    padding: 20px ;
    cursor: pointer;
    border: 3px solid rgba(249, 249, 249, 0.1);
    transition: all 300ms ;
}

.SidebarChat:hover{
    background-color: rgba(36, 34, 36, 0.438);
    transform: scale(1.095);
    border-color: rgba(249, 249, 249 0.8);
    box-shadow: rgb(0 0 0 /29%) 0px 26px 30px -10px,
                rgb(0 0 0 /23%) 0px 16px 10px -10px;


}

.sidebarChat__info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info{
    margin-left: 15px;
}
